.form{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: large;

}
.heading{
    text-align: center;
    color: aliceblue;
    font-size: larger;
}
input{
    height: 1.5rem;
    border-radius: 5px;
    border-style: none;
}
.btn{
    width: 30%;
    height:1.5rem;
    margin: 10px auto;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    font-size: large;
}